.home {
    margin: 0 200px; /* 上下, 左右 */
}

.header h1 {
    margin: 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: 40px;    
}

.container {
    gap: 10px;
    display: grid; /* 1つずつ画像を並べる */
    grid-template-columns: 1fr 1fr; /* 画像を2列ずつ並べる */
}

.reminder-item {
    position: relative;
    padding: 10px;
}

.reminder-item img {
    width: 100%;
    height: 220px;
    opacity: 0.6;
}

.reminder-item h2 {
    position: absolute;   
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 40px;
}
